test.txt
/LibraryAPI/.vs
/LibraryAPI/LibraryAPI/bin/Debug/net8.0
/LibraryAPI/LibraryAPI/obj/Debug/net8.0
/LibraryAPI/LibraryAPI/obj
/LibraryAPI/azurite_workspace
/LibraryAPI/LibraryAPI/Migrations
/LibraryAPI/Infrastructure/bin/Debug/net8.0
/LibraryAPI/Infrastructure/obj/Debug/net8.0
/LibraryAPI/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/LibraryAPI/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/LibraryAPI/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/LibraryAPI/Infrastructure/obj/project.assets.json
/LibraryAPI/Infrastructure/obj/project.nuget.cache
/LibraryAPI/Domain/bin/Debug/net8.0
/LibraryAPI/Domain/obj
/LibraryAPI/DataAccess/bin/Debug/net8.0
/LibraryAPI/DataAccess/obj
/LibraryAPI/BL/bin/Debug/net8.0
/LibraryAPI/BL/obj
/LibraryAPI/Business/obj
